@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #D3573C;
    margin-right: 100px;
}

a {
    text-decoration: none;
}

h3 {
    color: #901C1C;
    font-size: 13px;
    font-weight: 400;
}

article h2,
article h3,
article .tagline,
article .price {
    margin: 2px !important;
}

.tagline {
    font-size: 10px;
    color: black;
}

.price {
    color: #757575;
    font-weight: 400;
    font-size: 9px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.mediaCard {
    display: flex;
    flex-wrap: wrap;
}

.mediaCard article {
    min-width: 33%;
}

.mediaCard img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.mediaModal {
    height: 100%;
    display: none;
}

.mediaModal.active {
    display: block;
}

.mediaModal p {
    margin: 0;
    color: #901C1C;
}

.descriptionPicture {
    display: flex;
    justify-content: space-between;
    width: 350px;
    color: #901C1C;
    margin-top: -10px;
    margin-bottom: 10px;
}

.video {
    object-fit: cover;
    cursor: pointer;
}

.likes {
    display: flex;
    align-items: center;
    gap: 5px;
}

.heart {
    cursor: pointer;
}

.heart,
.heart2 {
    width: 19px !important;
    height: 19px !important;
}


/*Création des boutons previous, next et close de la modal*/
.modal-content {
    display: flex;
    background-color: white;
    padding: 25px 40px 40px 40px;
}

.previous-button {
    background: url('/assets/icons/prev.png') center no-repeat;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    background-size: 20px;

}

#left-side {
    display: flex;
    height: 50%;
    flex-direction: column-reverse;
    align-items: center;
}

#right-side {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background: url('/assets/icons/closemodal.png') center no-repeat;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    background-size: 20px;

}

.next-button {
    background: url('/assets/icons/next.png') center no-repeat;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    background-size: 20px;

}

.next-button img {
    width: 30px;
    height: 30px;
}